#container {
    background-color: antiquewhite;
    position: fixed;
    border-radius: 15px;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

#return {
    position: relative;
    top: 25%;
}

body {
    font-family: 'Balsamiq Sans', 'Open Sans', sans-serif;
    
    background: #0F2027 no-repeat;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

    font-size: 1.2rem;
}

.wrapper {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 246);
    border-radius: 1.5rem;
}

/* ******************************************************HEADER********************************************* */
.intro {
    background-color: rgb(58, 95, 117);
    width: 100%;
    border-radius: 12px;
}

.intro__title {
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 1.5rem;
}

.intro__subtitle {
    text-align: center;
    font-weight: bolder;
}

.intro__subtitle mark {
    background-color: rgb(58, 95, 117);
    color: white;
}

p {
    color: #2C5364;
}

strong, mark {
    font-size: 1.1rem;
}

.intro__title2, .parkour__title, .formation__title {
    color: #132f3b;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    border-bottom: 3px solid #132f3b;
    padding-bottom: 8px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;;
}

.intro__text {
    text-align: justify;
    color: white;
    padding: 1.2rem;
}

.intro__title2 {
    color: white;
    border-bottom: 3px solid #ffffff;
}

.left__title {
    color: antiquewhite;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    /* border-bottom: 2px solid #132f3b; */

}

/* ***************************************************************PARTIE GAUCHE************************************************* */
.left-content {
    color: antiquewhite;
    width: 30%;
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding: 1rem;
    line-height: 1.7rem;
    text-align: center;
    background-color: rgb(58, 95, 117);
    border-radius: 1.5rem 0 0 1.5rem;
    border: white 2px solid;
}

.left-content .left__img {
    width: 60%;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 2px white solid;
}

.left-content strong {
    font-size: 0.8rem;
}

.left-content h1 {
    margin-left: 0.5rem;
    text-align: center;
}

.left-content ul {
    padding-left: 1rem;
}

.left-content li {
    list-style-type: none;
    margin: 0.1rem 0;
}

.html {
    display: flex;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.html-logo {
    width: 3.5rem;
    height: 3.5rem;
}

.css, .php, .js {
    display: flex;
    align-items: flex-start;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.css {
    margin-top: 1rem;
}

.css-logo {
    width: 4rem;
    height: 4rem;
}

.php {
    margin-top: 1rem;
}

.php-logo {
    width: 4rem;
    height: 4rem;
}

.js {
    margin-top: 1rem;
}

.js-logo {
    width: 3.5rem;
    height: 3.5rem;
}

/* ***********************************************************PARTIE DROITE************************************************* */
.right-content {
    width: 70%;
    border-left: solid 2px rgb(255, 255, 255);
    padding: 1rem 1rem;
    line-height: 1.3rem;
}

.parkour__subtitle {
    font-size: 1.2rem;
}

.formation__subtitle {
    font-size: 1.2rem;
}

.parkour, .formation {
    line-height: 1.4rem;
}

/* ***************************************************RESPONSIVE DESIGN************************************************************* */
/* @media screen and (min-width: 1100px) {
    .wrapper {
        width: 60%;
    }
    
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 800px;
    }
} */