#container {
    background-color: antiquewhite;
    position: fixed;
    border-radius: 15px;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

#return {
    position: relative;
    top: 25%;
}

body {
    font-family: 'Balsamiq Sans', 'Open Sans', sans-serif;
    
    background: rgb(23, 80, 112);  

    font-size: 1.2rem;
}

.wrapper {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 246);
    border-radius: 1.5rem;
}

.wrapper--second {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 246);
    border-radius: 1.5rem;
    margin-top: 2rem;
    display: none;
}

/* ******************************************************HEADER********************************************* */
.intro {
    background-color: rgb(58, 95, 117);
    width: 100%;
    border-radius: 12px;
}

.intro__title {
    margin-top: 0;
    text-align: center;
    color: antiquewhite;
    font-size: 3rem;
    padding-top: 1.5rem;
}

.intro__subtitle {
    text-align: center;
    font-weight: bolder;
}

.intro__subtitle mark {
    background-color: rgb(58, 95, 117);
    color: antiquewhite;
}

p {
    color: #2C5364;
}

strong, mark {
    font-size: 1.1rem;
}

.intro__title2, .parkour__title, .formation__title {
    color: #132f3b;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    /* border-bottom: 3px solid #132f3b; */
    padding-bottom: 8px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;;
}

.intro__text {
    text-align: justify;
    color: antiquewhite;
    padding: 1.2rem;
    line-height: 28px;
}

.intro__title2 {
    color: antiquewhite;
}

.left__title {
    color: antiquewhite;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    /* width: 22rem; */
    padding-bottom: 8px;;

}

.parkour p {
    line-height: 28px;
}

/* ***************************************************************PARTIE GAUCHE************************************************* */
.left-content {
    color: antiquewhite;
    width: 30%;
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding: 1rem;
    line-height: 1.7rem;
    text-align: center;
    background-color: rgb(58, 95, 117);
    border-radius: 1.5rem 0 0 1.5rem;
    border: white 2px solid;
}

.left-content .left__img {
    width: 60%;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 2px white solid;
}

.left-content strong {
    font-size: 0.8rem;
}

.left-content h1 {
    text-align: center;
}

.left-content ul {
    padding-left: 0;
}

.left-content li {
    list-style-type: none;
    margin: 0.1rem 0;
}
.coordonnates {
    position: relative;
    right: 0;
    transition: right 100ms ease-in-out;
    cursor: pointer;
    color: antiquewhite;
    list-style-type: none;
    text-decoration: none;
}

.coordonnates:hover {
    right: -5px;
}

.html {
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.html-logo {
    width: 3.5rem;
    height: 3.5rem;
}

.css, .php, .js, .git {
    align-items: flex-start;
    border-radius: 10px;
    padding: 5px;
}

.css {
    margin-top: 1rem;
}

.css-logo {
    width: 4rem;
    height: 4rem;
}

.php, .symfony {
    margin-top: 1rem;
    align-items: center;
}

.php-logo, .symfony-logo {
    width: 4rem;
    height: 4rem;
}

.js {
    margin-top: 1rem;
}

.js-logo {
    width: 3.5rem;
    height: 3.5rem;
}

/* ***********************************************************PARTIE DROITE************************************************* */
.right-content {
    width: 70%;
    border-left: solid 2px rgb(255, 255, 255);
    padding: 1rem 1rem;
    line-height: 1.3rem;
}

.parkour, .formation {
    margin-top: 2rem;
}

.parkour__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.formation__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.parkour, .formation {
    line-height: 1.4rem;
}

.parkour p {
    margin-top: 0.2rem;
}

.formation p {
    margin-top: 0.2rem;
}

.parkour__title, .formation__title, .intro__subtitle, .left__title {
  padding-bottom: 1rem;
  position: relative;
  text-align: center;
}
/* -----------------------------LIGNE EN DESSOUS DES TITRES------------------------ */
.parkour__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: 4px;
    width: 128px;
    border-radius: 10px;
    margin: auto;
}

.formation__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: 4px;
    width: 128px;
    border-radius: 10px;
    margin: auto;
}

.intro__subtitle:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: antiquewhite;
    height: 4px;
    width: 128px;
    border-radius: 10px;
    margin: auto;
}

.left__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: antiquewhite;
    height: 4px;
    width: 128px;
    border-radius: 10px;
    margin: auto;
}

.hidden {
    display: none;
}

/* ----------------------------------PARTIE DU BAS REPONSIVE AVEC COORDDONEES---------------------------------- */

.left__title2 {
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
    padding-bottom: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
}

.left__title2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: 4px;
    width: 128px;
    border-radius: 10px;
    margin: auto;
}

.coordonnates2 {
    position: relative;
    right: 0;
    transition: right 100ms ease-in-out;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.left__title2 li, a {
    text-decoration: none;
}

.coordonnates2:hover {
    right: -5px;
}

.right-content2 {
    width: 95%;
    padding: 1rem 0;
    line-height: 1.3rem;
}

.coordonates__list {
    font-size: 0.8rem;
    text-align: center;
    width: 15rem;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#list {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* ***************************************************RESPONSIVE DESIGN************************************************************* */
/* @media screen and (min-width: 1100px) {
    .wrapper {
        width: 60%;
    }
    
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 800px;
    }
} */

/* @media screen and (max-width: 1080px) {
   .left-content {
    display: none;
   }

   .wrapper{
    justify-content: center;
    margin: auto;
   }

   .right-content {
    border: none;
    }
  } */

  @media screen and (max-width: 950px) {

    .left-content {
        display: none;
    }

    .wrapper{
        justify-content: center;
        margin: auto;
    }

    .right-content {
        border: none;
    }

    .intro {
        font-size: 0.8rem;
    }

    .parkour p {
        font-size: 0.8rem;
        text-align: center;
    }

    .parkour__subtitle {
        font-size: 1rem;
        text-align: center;
    }

    .formation__subtitle {
        font-size: 1rem;
        text-align: center;
    }

    .formation p { 
        font-size: 0.8rem;
        text-align: center;
    }

    .intro__title {
        font-size: 2rem;
    }

    .right-content {
        border: none;
    }
  }

  @media screen and (max-width: 800px) {

    .wrapper--second{
        display: block;
    }
    
    .wrapper{
        width: 95%;
    }

    header {
        display: none;
    }

    .right-content {
        border: none;
    }

    .hidden {
        display: block;
    }

    .hidden p {
        text-align: justify;
        color: black;
        padding: 0.2rem;
        line-height: 22px;
        font-size: 0.8rem;
    }

    .parkour p {
        padding: 0.2rem;
        line-height: 22px;
        text-align: center;
    }

    .hidden p strong {
        font-size: 0.8rem;
    }

    .intro__title {
        background-color: rgb(58, 95, 117);
        border-radius: 12px;
        height: 2.5rem;
        width: 15rem;
        margin: auto;
    }

    .intro__subtitle {
        margin-top: 1rem;
        margin-bottom:  0rem;
    }

    .intro__subtitle mark {
        border-radius: 12px;
        padding: 8px;
    }

    .intro__subtitle:after {
        background: rgb(0, 0, 0);
    }

    .parkour__title, .formation__title {
        width: 100%;
        font-size: 1.1rem;
    }

    .parkour__subtitle, .formation__subtitle {
        font-size: 0.8rem;
        text-align: center;
    }

    .formation p {
        padding: 0.2rem;
        line-height: 22px;
        text-align: center;
        font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 480px) {
    .intro__subtitle mark {
        font-size: 1rem;
        display: block;
    }
  }
