#container {
    background-color: antiquewhite;
    position: fixed;
    border-radius: 15px;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

#return {
    position: relative;
    top: 25%;
}

body {
    font-family: 'Balsamiq Sans', 'Open Sans', sans-serif;
    /* background-color: rgb(65, 65, 213); */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 14px;
}

.wrapper {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 234, 246);
    border-radius: 1.5rem;
}

h1 {
    font-size: 1.5em;
}

/* ******************************************************HEADER********************************************* */
.intro__title {
    font-size: 1.5rem;
    text-align: center;
}

.intro__subtitle {
    text-align: center;
    font-weight: bolder;
}

.intro__subtitle mark {
    background-color: rgb(234, 234, 246);
}

.intro_text {
    text-align: center;
}

strong, mark {
    font-size: 1.1rem;
}

h1 {
    text-decoration: underline;
}

/* ***************************************************************PARTIE GAUCHE************************************************* */
.left-content {
    width: 30%;
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding-right: 0.5rem;
}

.left-content .left__img {
    width: 40%;
    margin: 1rem;
    border-radius: 0.5rem;
}

.left-content strong {
    font-size: 0.9rem;
}

.left-content h1 {
    margin-left: 0.5rem;
}

.left-content ul {
    padding-left: 1rem;
}

.left-content li {
    list-style-type: none;
    margin: 0.1rem 0;
}

/* ***********************************************************PARTIE DROITE************************************************* */
.right-content {
    width: 70%;
    border-left: solid 2px rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    line-height: 1.2rem;
}



/* ***************************************************RESPONSIVE DESIGN************************************************************* */
@media screen and (min-width: 1100px) {
    .wrapper {
        width: 60%;
    }
    
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 800px;
    }
}